# Global PostgreSQL admin credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=...

# Uptime Kuma database credentials
UPTIME_KUMA_DB_USER=uptime_kuma
UPTIME_KUMA_DB_PASSWORD=...

# Beszel database credentials
BESZEL_DB_USER=beszel
BESZEL_DB_PASSWORD=...

NFS_IP=